name: pre-commit

on:
  pull_request:
  push:
    branches:
     - main
     - develop
     - 'release/**'
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: 3.10.x
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7'
        bundler-cache: true
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.x'

    - name: Install manual dependencies
      run: |
        python -m pip install pre-commit
        pre-commit install
    
    - name: Run pre-commit
      run: |
        # 全てのユーティリティスクリプトに実行権限を付与
        chmod +x utils/*.py
        # CI環境でエラーが多発する dotnet-format だけをスキップし、他の全てのチェックを実行する
        SKIP=dotnet-format pre-commit run --all-files
